.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.inactive {
  color: #ccc;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  font-size: 12px;
}

.active {
  color: #fff;
  background: linear-gradient(270deg, #1a73e9 0%, #6c92f4 100%);
  border-radius: 20%;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  font-size: 12px;
}

.inactive:hover {
  color: #fff;
  background: linear-gradient(270deg, #1a73e9 0%, #6c92f4 100%);
}
