\font-awesome
\Install\UMK_CHECK
\node_modules
UMK_Backend\node_modules
UMK_Front_prod\node_modules
UMK_Front_prod\public
UMK_Front_prod\src
UMK_Backend\upload
UMK_Front\node_modules
*.rar
*.zip
*.7z
*.iso
*.dmg
*.exe
*.msi
*.pkg
*.docx
*.xlsx
*.pptx
*.pdf
*.mp3
*.mp4
